<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing page</title>
</head>
<body>
    
    <form  action="">
        <button type="submit" formaction="/users/login">I'm a User</button>

        <button formaction="/admins/login">I'm an admin</button>
    </form>
</body>
</html>